
body{
background-color: #1a1a1a;
scroll-behavior: smooth;
}

.boton{
border: 0;
width: 97.8vw;
height: 15vh;
background-color: #1a1a1a;
box-shadow: rgb(0, 0, 0, 0.5) 7px 7px 14px 0px, rgb(58, 58, 58, 0.376) -7px -7px 14px 0px;
border-radius: 4vh;
margin: 3vh 0 0 .5vw;
transition: .5s;
padding: 0 0 0 0;
position:  static;
}

.titulo{
  float: left;
  width: 50%;
  height: 100%;
  color: #cbcbcb;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  display: flex;
  align-items: center;
}

.redes{
  float: right;
  width: 30%;
  height: 50%;
  padding: 3.5% 0 0 2%;
}

.carrusel{
  border: 0;
  width: 70.7vw;
  height: 75vh;
  background-color: #1a1a1a;
  box-shadow: rgb(0, 0, 0, 0.5) 7px 7px 14px 0px, rgb(58, 58, 58, 0.376) -7px -7px 14px 0px;
  border-radius: 4vh;
  margin: 3vh 0 0 .5vw;
  transition: .5s;
}

.container{
  background-color: #1a1a1a;
  width: 60vw;
  padding: 3vw;
  height: 50vh;
  border-radius: 2vw;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 65vw;
  height: 60vh;
  border-radius: 2vw;
}

ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 1s;
  background:#fff;
  border-radius: 2vw;
}

ul.slider li img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 2vw;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu{
  text-align: center;
  margin: 2.5vh;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  background-color: grey;
  margin: 1vh;
  width: 1vw;
  height: 2vh;
  border-radius: 100%;
}
